.categories {
  display: flex;
  align-items: center;
  background-color: white;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-height: 25vh;
}

.categories-items {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.categories:after {
  content: "";
  display: block;
  margin: 0 auto;
  width: 5%;
  padding-bottom: 30px;
  border-bottom-style:solid;
  border-color: lightgray;
}