@import '../../CSS/vars.scss';

.CategoryCard {
  .container {
    padding: 0.5rem;
    margin: 0.5rem;
    border: 1px solid transparent;
    text-align: center;
    border-radius: 10px;
    background: $complementary2;
    cursor: pointer;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);

    &:hover {
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
      outline-color: rgba(255, 255, 255, 0);
      outline-offset: 15px;
      text-shadow: 1px 1px 2px #427388;
    }
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    color: #b57575;
  }
}
