.header {
  display: flex;
  min-height: 10vh;
  align-items: center;
  background-color: white;
  justify-content: space-between;
  border-bottom-style:solid;
  border-color: lightgray;
}
.header-logo {
  display: flex;
  justify-content: flex-start;
  margin-left: 30px;
}

.header-right {
  display: flex;
  justify-content: flex-end;
  align-items:center;
  margin-right: 30px;
}

img {
  height: 9vmin;
}