.textcontent {
    /* Para poder fijar el pie de página con posición absoluta */
    position: relative;
    /* Medida mínima */
    min-height: 60vh;
    display: grid;  

    border-top-style:solid;
  }