$primary-color: #A1B5D8;
$secondary-color: #738290;
$tertiary-color: #FFFCF7;
    
$complementary1: #E4F0D0;
$complementary2: #C2D8B9;

/// resolution breakpoints
$large-screen: 769px;
$medium-screen: 425px;
$small-screen: 375px;
