.footer {
  display: flex;
  height: 10%;
  justify-content: center;
  min-height: 5vh;
  background-color: #ec1666;
  align-items: center;
  border-top-style: solid;
  border-color: lightgray;
  color: white;
}

@media only screen and (min-device-width: 320px)
and (max-device-width: 390px)
and (orientation: portrait) {
  .footer {
    font-size: 12px;
    padding: 10px;
  }
}

@media only screen and (min-device-width: 320px)
and (max-device-width: 844px)
and (orientation: landscape) {
  .footer {
    padding: 10px;
  }
}

@media only screen and (min-device-width: 768px)
and (max-device-width: 1024px)
and (orientation: portrait) {
  .footer {
    font-size: 18px;
    padding: 10px;
  }
}
