html,
body {
  font-family: sans-serif;
  margin: 0;
  --main-spacing: 15px 5px 10px 5px;
  --header-footer-spacing: 10px 5px;
}

#app {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";

  > header,
  > footer {
    padding: var(--header-footer-spacing);
    background-color: lightblue;
    grid-area: footer;
    text-align: center;
  }

  > header {
    grid-area: header;
    a {
      margin-right: 20px;
      cursor: pointer;

      &.disabled {
        cursor: default;
        opacity: 0.5;
      }
    }

    .app-logo {
      width: 100px;
      float: left;
    }

    .search-container {
      float: left;
      margin-left: 50px;
    }

    input[type="text"] {
      padding: 6px;
      margin-top: 35px;
      font-size: 17px;
      border: none;
      width: 600px;
      vertical-align: middle;
    }

    .search-container button {
      float: right;
      padding: 6px 10px;
      margin-top: 35px;
      margin-right: 16px;
      background: #ddd;
      font-size: 17px;
      border: none;
      cursor: pointer;
    }
  }

  > main {
    grid-area: main;
    padding: var(--main-spacing);

    .slider-columns {
      width: 100%;
      display: flex;
    }

    .slider-columns > * {
      width: calc(100% / 3);
    }

    .slider-columns > * > img {
      width: 541px;
    }

    .grid-columns > * > h5 {
      margin: 0px;
    }

    .grid-columns {
      display: flex;
      flex-wrap: wrap;
    }

    .grid-columns > * {
      flex-grow: 1;
      width: 33%;
    }

    .grid-columns > * > img {
      width:400px;
    }
  }
}
