.slide-container {
    max-width:  100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.slide {
    display: flex;
    transform: translate3d(0, 0, 0);
    transition: all 600ms;
  }

  .slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

.slide-prev{
    position:absolute;
    top:50%;
    left:0%;
    border: none;

}

.slide-next{
    position:absolute;
    top:50%;
    right:0%;
    border: none;
}